In [1]:
import pandas as pd
from pandas import Series, DataFrame

# 5-1. 산술연산
## 1) Series 산술연산
### - 같은 인덱스 라벨을 가진 항목끼리 산술 연산을 수행함.
### - 겹치는 인덱스가 없다면, 데이터는 NA가 된다. 
<img src="img/산술연산.jpg" alt="산술연산표" style="width: 800px;"/>

In [2]:
sr1 = Series([1,2,3], index = list('abc'))
sr2 =  Series([4,5,6], index = list('abd'))

In [3]:
#같은 인덱스 라벨을 가진 항목끼리 산술 연산을 수행함.
#겹치는 인덱스가 없다면, 데이터는 NA가 된다. 
sr1+sr2

a    5.0
b    7.0
c    NaN
d    NaN
dtype: float64

In [ ]:
#sr1 + sr2와 동일하지만, 함수로 사용하는 경우에는 다양한 파라미터 설정이 가능해짐.

In [4]:
#산술 연산 시, 데이터가 없는 경우 fill_value인자의 값으로 간주함.
sr1.add(sr2, fill_value = 0)

a    5.0
b    7.0
c    3.0
d    6.0
dtype: float64

## 2) DataFrame 산술연산

In [ ]:
arr1 = [[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]]
df1 = DataFrame(arr1, columns = list('bcd'), index = ['Ohio', 'Texas', 'Colorado'])
df1

In [ ]:
arr2 = [[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]]
df2 = DataFrame(arr2, columns = list('bde'), index = ['Utah', 'Ohio', 'Texas', 'Oregon'])
df2

In [ ]:
# 컬럼과 로우 인덱스 모두 동일한 항목끼리 연산이 수행됨.
# 둘 중 하나라도 없으면 NaN

In [ ]:

#fill_value = <값> : Missing Value를 <값>으로 간주함. 두 데이터프레임에 모두 없는 경우에는 결과도 Missing
# http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.add.html#pandas.DataFrame.add

## DataFrame 산술 연산
<img src="img/데이터프레임add.jpg" alt="Add" style="width: 1000px;"/>

## 3) DataFrame과 Series 간의 연산

### 기본적으로 DataFrame과 Series 간의 산술연산은 Series의 색인을 DataFrame의 칼럼에 맞추고 아래로 전파한다.

In [ ]:
df = DataFrame([[1,3, 5, 7],[2,4, 6, 8], [10, 20, 30, 40]], 
                          columns = list('ABCD'), index = ['X','Y','Z'])
df

In [ ]:
#A, B, C, D 컬럼 각각에 10, 20, 30, 40을 더하기

In [ ]:
#실습. X,Y,Z 로우에 각각에 10, 100, 1000을 더하시오.

## 4) 함수 적용과 매핑

### apply() :각 로우나 컬럼의 1차원 배열에 함수를 적용
### applymap() : 각 항목에 함수를 적용

#### 4-1) apply() 함수

#### 4-2) applymap() 함수

## 5. 컬럼 추가하기

In [ ]:
#실습. df1에 'g'라는 새로운 컬럼을 추가하고, 값은 각 로우(row)에 있는 값들 중 가장 작은 값으로 할당

In [ ]:
# 실습을 위한 데이터 읽기 (NC Dinos.xlsx의 첫번째 시트값만 읽어오기)
# 첫번째 시트는 2013년도 선수 기록 정보

In [ ]:
# 실습. '연도' 라는 새로운 컬럼을 추가하고, 값을 2013 으로 초기화하기

In [ ]:
# 실습. 안타와 홈런의 수를 합한 값을 '안타홈런'이라는 컬럼으로 추가