In [1]:
import pandas as pd
from pandas import Series, DataFrame

# 4. 데이터 가공 1 - 데이터 합치기
## 4-1. pandas.merge()
<img src="img/merge예제.jpg" alt="merge예제" style="width: 600px;"/>

In [2]:
#샘플 데이터 생성
df1 = DataFrame([[1,3],[2,4]], 
                           columns = list('AB'))
df2 = DataFrame([[1,'aa'],[2,'bb']], 
                           columns = list('AC'))

In [3]:
pd.merge(df1,df2)

   A  B   C
0  1  3  aa
1  2  4  bb

   ### 주요 파라미터
   - 키를 기준으로 DataFrame의 로우를 합친다. SQL이나 다른 관계형 데이터베이스의 join 연산과 동일함.
   - 주요 파라미터        
      . left, right : merge할 DataFrame 객체이름
      
      . how = 'inner', #left, right, outer
      
      . on = None, #merge의 기준이 되는 컬럼
      
      . left_on = None, #left DataFrame의 기준 컬럼
      
      . right_on = None, #right DataFrame의 기준 컬럼

In [4]:
df_left = DataFrame({'KEY': ['k0', 'k1', 'k2', 'k3'],
                     'A': ['a0', 'a1', 'a2', 'a3'],
                     'B': ['b0', 'b1', 'b2', 'b3']})
df_right = DataFrame({'KEY': ['k2', 'k3', 'k4', 'k5'],
                     'C': ['c2', 'c3', 'c4', 'c5'],
                     'D': ['d2', 'd3', 'd4', 'd5']})

In [5]:
df_left

    A   B KEY
0  a0  b0  k0
1  a1  b1  k1
2  a2  b2  k2
3  a3  b3  k3

In [6]:
df_right

    C   D KEY
0  c2  d2  k2
1  c3  d3  k3
2  c4  d4  k4
3  c5  d5  k5

In [8]:
# inner join

In [10]:
# left outer join

In [12]:
#right outer join

In [13]:
# fully outer join

In [14]:
# 실습 아래 2개의 DataFrame을 K1과 K2 컬럼으로 outer merge
df_left2 = DataFrame({'K1': ['k0', 'k1', 'k2', 'k3'],
                     'A': ['a0', 'a1', 'a2', 'a3'],
                     'B': ['b0', 'b1', 'b2', 'b3']})
df_right2 = DataFrame({'K2': ['k2', 'k3', 'k4', 'k5'],
                     'C': ['c2', 'c3', 'c4', 'c5'],
                     'D': ['d2', 'd3', 'd4', 'd5']})

In [ ]:
# 실습

In [15]:
# 실제 데이터 실습
#1. 사용자 데이터 읽어오기

In [16]:
# 2. 평점 데이터 읽어오기
# 데이터 파일 : data/movielens/ratings.dat
# 컬럼명들은 ['사용자아이디', '영화아이디', '평점', '타임스탬프']

In [17]:
# 3. 사용자와 평점 데이터 합치기

## 4-2. pandas.concat(axis = 0)
<img src="img/concat0예제.jpg" alt="csv파일예제" style="width: 600px;"/>

In [18]:
df1 = DataFrame([[1,'aa'],[2,'bb']], 
                           columns = list('AB'))
df2 = DataFrame([[3,'cc'],[4,'dd']], 
                           columns = list('AB'))

In [ ]:
# df1과 df2 concat 수행하기

In [39]:
# 실제 데이터 실습
#  data/NC Dinos.xlsx 파일에서 2013, 2014, 2015시즌 정보를 읽어서, 각각 NC13, NC14, NC15에 저장하시오.

## 4-3. concat(axis = 1)
<img src="img/concat1예제.jpg" alt="csv파일예제" style="width: 800px;"/>

In [19]:
# 샘플 데이터 생성
df1 = DataFrame([[1,10],[2,20]], 
                           columns = list('AB'), index = ['aa','bb'])
df2 = DataFrame([[3,'xx'],[4,'yy']], 
                           columns = list('CD'), index = ['aa','bb'])

In [21]:
# concat with axis = 1 수행