In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

# 7-1. 통계 함수
## 주요 통계 함수 목록
<img src="img/통계함수.jpg" alt="통계함수" style="width: 400px;"/>

## 주요 함수 옵션
<img src="img/주요함수옵션.jpg" alt="주요옵션" style="width: 400px;"/>

### ** axis는 통계함수 뿐만 아니라, 많은 함수에서 동일하게 적용됨. **

In [48]:
# 샘플 데이터 생성
np.random.seed(0)
df = pd.DataFrame(np.random.randint(50, 100, (5, 4)), 
                  columns=[[2016, 2016, 2017, 2017], ['영어','수학','영어','수학']], index = ['Kim','Park','Lee','Jung','Moon'])
df
df.index.set_names('학생명', inplace = True)
df.columns.set_names(['년도','과목'], inplace = True)

In [49]:
# 2016년 성적만 선택해서 df2016에 저장

과목    영어  수학
학생명
Kim   94  97
Park  53  89
Lee   71  86
Jung  74  74
Moon  88  89

In [52]:
# 1) count() - NaN 값을 제외한 데이터의 갯수

과목
영어    5
수학    5
dtype: int64

In [27]:
# 2) sum() - 값의 합을 계산
## 기본적으로 함수는 각 컬럼에 있는 로우(row)들의 값들로 수행됨. (기본값 axis =0) 
## 모든 통계 함수는 동일함.

subject
영어    380
수학    435
dtype: int64

In [55]:
# 각 학생들의 과목 평균 구하기

과목
영어    76.0
수학    87.0
dtype: float64

In [30]:
# 3) describe() - 각 컬럼에 대한 요약 통계

subject         영어         수학
count     5.000000   5.000000
mean     76.000000  87.000000
std      16.015617   8.336666
min      53.000000  74.000000
25%      71.000000  86.000000
50%      74.000000  89.000000
75%      88.000000  89.000000
max      94.000000  97.000000

In [32]:
# 실습.df 대상으로 년도별 과목별 평균 성적을 출력

year  subject
2016  영어         76.0
      수학         87.0
2017  영어         63.4
      수학         65.0
dtype: float64

In [33]:
# 실습. df 대상으로 학생별로 모든 년도/과목에 대한 전체 평균을 출력

name
Kim     73.50
Park    67.50
Lee     71.50
Jung    65.25
Moon    86.50
dtype: float64

# 7-2. 정렬
## * 데이터 정렬 : sort_values()
<img src="img/데이터프레임정렬.jpg" alt="DataFrame.sort_values" style="width: 600px;"/>
## * 인덱스 정렬 : sort_index() - 인자는 sort_values()와 동일
### http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html#pandas.DataFrame.sort_values

## 1) Series 정렬

In [56]:
# Series 정렬을 위한 샘플 데이터
sr = Series([3,5,2,1,7,10], index = list('bcafed'))
sr

b     3
c     5
a     2
f     1
e     7
d    10
dtype: int64

In [36]:
# 로우 인덱스 라벨의 값으로 정렬

a     2
b     3
c     5
d    10
e     7
f     1
dtype: int64

In [37]:
# Series의 값으로 정렬 (기본값 = 오름차순)

f     1
a     2
b     3
c     5
e     7
d    10
dtype: int64

In [38]:
# Series의 값으로 내림차순 정렬

d    10
e     7
c     5
b     3
a     2
f     1
dtype: int64

## 2) DataFrame 정렬