In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

## 6. 계층 색인 (다중 색인)
### 2개 이상의 색인(인덱스)를 지정할 수 있다. 
### 차원이 높은 (고차원) 데이터를 낮은 차원의 형식으로 다룰 수 있게 해주는 기능

In [2]:
# 샘플 데이터 생성
np.random.seed(0)
df = pd.DataFrame(np.random.randint(50, 100, (5, 4)), 
                  columns=[[2016, 2016, 2017, 2017], ['영어','수학','영어','수학']], index = ['Kim','Park','Lee','Jung','Moon'])

In [3]:
df

     2016     2017
       영어  수학   영어  수학
Kim    94  97   50  53
Park   53  89   59  69
Lee    71  86   73  56
Jung   74  74   62  51
Moon   88  89   73  96

In [4]:
df.index

Index(['Kim', 'Park', 'Lee', 'Jung', 'Moon'], dtype='object')

In [6]:
df.columns

MultiIndex(levels=[[2016, 2017], ['수학', '영어']],
           labels=[[0, 0, 1, 1], [1, 0, 1, 0]])

## 6-1. 인덱싱

In [ ]:
#2016년 영어, 수학 성적 조회

In [ ]:
#2016년 영어 성적만 조회

In [ ]:
# Kim의 성적만 선택

In [ ]:
# 실습. Kim, Park, Lee의 성적만 선택

In [ ]:
# 최상위 색인이 아닌 색인으로만 인덱싱하고 싶은 경우에는 xs() 함수를 사용.
# 2016, 2017년도 영어 성적만 선택

## 6-2. 메타데이터 설정 (set_names)

In [ ]:
# 인덱스에 이름 부여하기 (set_names)
# 로우 인덱스의 이름을 '학생명'이라고 정의하기

In [ ]:
# 실습. 컬럼들의 이름을 각각 year와 subject로 정의하기

## 6-3. 몇 가지 주요 함수들
### 1) swaplevel(index1, index2, axis)
##### index1과 index2의 위치를 변경함. 
##### index1과 index2가 로우 인덱스인 경우, axis = 0, 컬럼인덱스면 1 (기본값은 0)

In [ ]:
# year과 subject의 위치를 변경

## 2) stack(), unstack() 함수
### stack(level) : 컬럼 인덱스를 로우 인덱스로 옮길 때 사용.
### unstack(level): 로우 인덱스를 컬럼 인덱스로 옮길 때 사용.
### level 인자는 옮기고자 하는 인덱스의 위치를 표기함. 명시하지 않은 경우, 최하단의 인덱스를 이동시킴.
### level은 최상위가 0이고, 1씩 증가함

In [ ]:
# 컬럼 인덱스 과목을 로우 인덱스로 변경하고 df2에 저장

In [ ]:
# 컬럼 인덱스 '년도'를 로우 인덱스로 변경

### df2를 대상으로 아래 실습 문제 수행

In [ ]:
# 실습. Kim의 성적만 선택

In [ ]:
# 실습. Park의 수학 성적만 선택

In [ ]:
# 실습. 모든 학생들의 영어 성적만 선택

In [ ]:
# 실습. Park 학생의 2016년 영어 성적만 출력

In [ ]:
# 실습. 학생들의 과목별 성적의 평균을 구해서, 새로운 컬럼 '평균'으로 저장

In [ ]:
# NC Dinos 선수 기록 적재
NC = pd.read_excel('data/NC Dinos.xlsx', sheetname = None)
NC13, NC14, NC15 = NC.values()
NC13['년도'] = 2013
NC14['년도'] = 2014
NC15['년도'] = 2015
NC13 = NC13[['선수명', '년도', '안타','홈런']]
NC14 = NC14[['선수명', '년도', '안타','홈런']]
NC15 = NC15[['선수명', '년도', '안타','홈런']]
NCAll = pd.concat([NC13, NC14, NC15])
NCAll.head()

In [35]:
# NCAll을 아래 결과처럼 나오도록 변경

         안타                  홈런
년도     2013   2014   2015  2013  2014  2015
선수명
강구성     0.0    NaN    1.0   0.0   NaN   0.0
강민국     NaN    0.0    0.0   NaN   0.0   0.0
강진성     1.0    NaN    NaN   0.0   NaN   NaN
권희동     NaN   63.0    NaN   NaN   7.0   NaN
김동건     2.0    NaN    NaN   1.0   NaN   NaN
김성욱     1.0    4.0    NaN   0.0   1.0   NaN
김종찬     1.0    NaN    NaN   0.0   NaN   NaN
김종호   129.0    NaN  125.0   0.0   NaN   4.0
김준완     NaN    2.0   10.0   NaN   0.0   0.0
김태군     NaN    NaN  107.0   NaN   NaN   6.0
김태우     NaN    1.0    NaN   NaN   0.0   NaN
김태진     NaN    NaN    0.0   NaN   NaN   0.0
나성범    98.0  157.0  184.0  14.0  30.0  28.0
노진혁     NaN    3.0    NaN   NaN   1.0   NaN
마낙길     9.0    0.0    NaN   0.0   0.0   NaN
모창민   109.0  110.0   62.0  12.0  16.0   6.0
박명환*    NaN    0.0    NaN   NaN   0.0   NaN
박민우    11.0  124.0  158.0   0.0   1.0   3.0
박정준    41.0    NaN    8.0   4.0   NaN   0.0
손시헌     NaN   90.0  108.0   NaN   5.0  13.0
용덕한     NaN    NaN   12.0   NaN   NaN   0.0
이상호    31.0    NaN    NaN   0.0   NaN   NaN
이승호     0.0    NaN    NaN   0.0   NaN   NaN
이종욱     NaN  126.0  118.0   NaN   6.0   5.0
이창섭     0.0    NaN    0.0   0.0   NaN   0.0
이현곤    38.0    NaN    NaN   0.0   NaN   NaN
이호준   123.0  115.0  132.0  20.0  23.0  24.0
조영훈   107.0   29.0   35.0   6.0   6.0   8.0
조평호    21.0    0.0    8.0   2.0   0.0   1.0
지석훈    68.0   58.0  111.0   3.0   6.0  11.0
차화준    24.0    NaN    NaN   1.0   NaN   NaN
최재원     NaN    0.0   21.0   NaN   0.0   2.0
테임즈     NaN  152.0  180.0   NaN  37.0  47.0
허준      NaN    5.0    NaN   NaN   0.0   NaN